.App {
  p {
    margin: 0;
  }

  .button-action {
    padding: 10px 24px;
    background: #2081e2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    min-width: 120px;
    text-align: center;
    max-width: max-content;
    &:hover {
      background: #358fe6;
      //color: #000;
    }
  }

}